{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ user_name }}!
</h1>
    <div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup" >
		<form action="{{ url_for('jobs') }}" class="form" id="form1" method = "post">
			<h2 class="form__title">Enter your choice!</h2>
            <label for="role">Role:</label>
			<input type="text" id="role" name="role" value="{{ role }}"/>
            <label for="skill">Skill(Enter only one):</label>
			<input type="text" id="skill" name="skill" value="{{ skill }}" />

			<button class="btn">Search</button>
		</form>
	</div>
    </div>
<h3> Here is a list of customized jobs for you:</h3>
<ul>
{% for title, link in job_list %}

    <li class = 'jobTitle'>{{ title }}</li>

<a  href="{{ link }}" target="_blank"><li class='links'>Click here!</li></a><br>
{% endfor %}
</ul>
<a  href="https://www.buymeacoffee.com/manasmb" target="_blank"><li class='links'>Liked this website? Click here to buy me a coffee!</li></a><br>
	
{% endblock %}
